form.validate-error {
  animation: vibrate 200ms linear, fade paused;
  animation-iteration-count: 2;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  75% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}
